[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
django-allauth = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-widget-tweaks = "*"
psycopg2-binary = "*"
requests = "*"
jwt = "*"
pillow = "*"
django-extensions = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
graphene-django = "*"
python-dotenv = "*"
graphene = "*"
aiogram = "==2.14"

[dev-packages]

[requires]
python_version = "3.12"
