[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.1.1"
django-rest-framework = "*"
django-allauth = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-widget-tweaks = "*"
psycopg2-binary = "*"
requests = "*"
jwt = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.12"
