{% extends 'base.html' %}

{% block content %}
    <h1>Xizmatlar</h1>
    <div class="row" id="serviceList">
        {% for service in services %}
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ service.name }}</h5>
              <p class="card-text">{{ service.description }}</p>
              <small>Bajarilish vaqti: {{ service.completion_time }} daqiqa</small><br>
              <strong>Narx:</strong> {{ service.price }} so‘m<br>
              <button class="btn btn-primary btn-details" data-service-id="{{ service.id }}">Batafsil</button>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
