{% extends "base.html" %}


{% block content %}
<h1 class="text-center my-4">Buyurtmalar Tarixi</h1>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="custom-header">
            <tr>
                <th>Xizmat nomi</th>
                <th>Buyurtma qilingan vaqt</th>
                <th>Taxminiy tugatish vaqti</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.service.name }}</td>
                <td>{{ order.created_at|date:"d-m-Y H:i" }}</td>
                <td>{{ order.expected_completion_time|date:"d-m-Y H:i" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
