{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center mb-4">Kirish</h1>
                <form method="post" action="{% url 'user:login' %}?next={{ request.get_full_path }}">
                    {% csrf_token %}
                    
                    <!-- Display crispy form fields -->
                    {{ form.username|as_crispy_field }}
                    
                    <!-- Customize the password field with show password icon inside the input field -->
                    <div class="input-group mb-3">
                        <input type="password" id="id_password" name="password" placeholder="Parol" class="form-control" required>
                        <span class="input-group-text" style="cursor: pointer;" onclick="togglePassword()">
                            <i id="eye-icon" class="fas fa-eye"></i>
                        </span>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">Kirish</button>
                </form>
                <div class="text-center mt-3">
                    <p><a href="{% url 'user:password_reset' %}">Parolni unutdingizmi?</a></p>
                    <p>Ro'yxatdan o'tmaganmisiz? <a href="{% url 'user:register' %}">Ro'yxatdan o'tish</a></p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
    <script>
        function togglePassword() {
            const passwordField = document.getElementById("id_password");
            const eyeIcon = document.getElementById("eye-icon");
            if (passwordField.type === "password") {
                passwordField.type = "text";
                eyeIcon.classList.remove("fa-eye");
                eyeIcon.classList.add("fa-eye-slash");
            } else {
                passwordField.type = "password";
                eyeIcon.classList.remove("fa-eye-slash");
                eyeIcon.classList.add("fa-eye");
            }
        }
    </script>
{% endblock %}
